[2020-02-08 14:23] lucasnlm opened #2 "Shrink Code"
https://developer.android.com/studio/build/shrink-code.html

[2020-03-03 08:10] ajchellew opened #4 "Instant Win"
Start a new game, long press any square and you are greeted with "You won!" "All mines were disabled."

[2020-03-03 12:09] lucasnlm commented on #4
I introduced this bug on latest version. :scream:
I changed the moment when victory is checked.
This happens because flag all mines is no longer a requirement to victory.

[2020-03-03 12:20] lucasnlm commented on #4
Fixed by https://github.com/lucasnlm/antimine-android/commit/99f168da8e786cc42b0a1df2ac984cacbd22232e

Thanks to report!

[2020-03-03 12:23] lucasnlm commented on #4
Fixed by https://github.com/lucasnlm/antimine-android/commit/99f168da8e786cc42b0a1df2ac984cacbd22232e

Thanks to report!

[2020-03-03 12:23] #4 closed

[2020-03-10 01:33] lucasnlm commented on #2
closed by #11

[2020-03-10 01:33] #2 closed

[2020-04-22 15:54] girst opened #57 "Improvements / Feature requests"
Hi, I just stumbled upon this app in fdroid's RFP tracker. If you don't mind, I would like to suggest some improvements/feature requests:

- chording when single-tapping open square:
  in many implementations, clicking on a opened square that has the exact amount of neighbours flagged, opens all non-flagged neighbouring cells. if the wrong amount of mines are flagged, the current behaviour could s

[2020-04-22 20:05] lucasnlm opened #58 "Fast-flag mode"
A button that toggles whether clicking on cells opens them, or flags them.
from #57 by @girst

- Add a new option to allow fast-flag.

[2020-04-22 20:07] lucasnlm opened #59 "Zoom out"
Zoom out
sometimes I would like to get a better overview of things
from #57 by @girst

[2020-04-22 20:10] lucasnlm commented on #57
Thanks for your feedback!

About your points:
- Currently If you long press an opened square it will open all neighbors squares, except if flagged. Is this the same behavior?
- About fast-flag: I agree. It should have that option. I will open an issue exclusively to it.
- About zoom out. I would be really cool. Currently you can share an image of the whole minefield and zoom in / out. However it's

[2020-04-22 20:21] girst commented on #57
On Wed, Apr 22, 2020 at 01:11:00PM -0700, Lucas Nunes wrote:

oh, i didn't think about long-clicking! yes, that's more or less the
described behaviour, except that it also chords when the wrong number of
adjacent mines are flagged. if it only triggers when exactly the right
amount of mines are flagged, you can use it instead of counting the
adjacent flags. also, subjectively, long-clicking breaks

[2020-04-23 16:59] lucasnlm opened #61 "Improve performance"
Fix recyclerview performance issue.
From #57

[2020-04-24 17:09] #61 closed

[2020-04-25 13:19] lucasnlm opened #64 "Implement game generator without guessing"
Currently the generated games may have guessing situations. The game generator should be updated to avoid  guessing situations.

[2020-05-23 11:43] DJCrashdummy opened #74 "add possibility to replay a game"
just a little idea which came in my mind while testing your nice app:

some people maybe like to replay the one particular game which blew up at the end, because of wrong guesses... or they liked the layout or whatever.

[2020-05-23 21:05] lucasnlm commented on #74
Thanks for your feedback :)

There's a new feature on `7.0.0` version (not yet on Play Store) that allows to replay the previous 15 games. It's almost what you requested, but I think it should be nice to have "Replay" button on Game Over dialog.

The `Previous games` menu was added by #48.

[2020-05-24 00:53] Vas0sky opened #75 "Enable opening tiles by tapping numbers"
In windows's minesweeper you can click with both left and right mouse buttons on a number tile and if it was surrounded by the same amount of mines its number was, it would openthe remaining surrounding tiles, whether the mines were correctly marked or not (in this case you would lose the game). There are other minesweeper clones that allow for this by simply tapping a number tile on android.

[2020-05-24 11:05] DJCrashdummy commented on #74
thank **you** for making nice FOSS!

interesting feature... but i hardly remember the last played one. :stuck_out_tongue_winking_eye:
btw: no worries, i install my apps via f-droid. :wink: (no, they are also still at 6.3.2.)

yes, that's what i thought about. sorry for not expressing it clearly.

[2020-05-24 15:08] lucasnlm commented on #75
Hi!
Thanks for your feedback!
Open tiles by tapping numbers is already possible on current implementation.
If you tap a number once it will highlight all its neighbors. If you long press a number it will open them.

[2020-05-24 15:10] lucasnlm commented on #74
About F-Droid, it was added there this week. So I think `7.0.0` will be available soon.
And I really liked the idea of add a "Replay" button. I will probably add it. :smile:

[2020-05-24 15:15] Vas0sky commented on #75
Oh I see, my bad I didn't try that. Well in this case maybe an option to use a single tap instead of a long press, that would make the game flow a bit better (afterall this is a game of finishing the table quick)

[2020-05-24 15:55] lucasnlm commented on #75
I agree. Actually I need to add a "Controls" option before start the first game because some people don't link to use single click. I had some people requesting double click instead. So, I think the only solution for this issue is a "Control" option.

[2020-05-24 15:58] Vas0sky commented on #75
Alright, I guess I can leave this issue open for now until a "Controls" panel is added, thank you very much.

[2020-06-10 23:47] lucasnlm commented on #74
Replay feature will be added by #88.

[2020-06-12 12:30] lucasnlm commented on #74
Completed. It will be available on `7.1.0`.

[2020-06-12 12:30] #74 closed

[2020-06-13 05:08] Fatcakes opened #93 "Light/dark mode toggle."
Would be nice to have a toggle for light/dark themes or selecting follow system theme.

[2020-06-13 14:29] lucasnlm commented on #93
I agree. Currently, It only follows the system theme. But, I'm planning to do a Theme selection screen with some other themes too. I will probably be the next major update. 😄

[2020-06-13 14:33] lucasnlm commented on #58
Related to #75

[2020-06-17 19:39] #93 closed

[2020-06-19 13:36] V3D3 opened #96 "Long-pressing a (>0) revealed tile ends the game"
In all modes, when a tile has been revealed successfully:
- if tile indicates zero, long-tapping it (flagging it) does nothing
- (issue) if tile has a non-zero count on it, long-tapping it (flagging it) ends the game (all mines are blasted).

This is a bit problematic, since on a mobile screen you may misplace a flag (misplacing a flag should have no side effects, since placing it on a non-mine no

[2020-06-19 17:37] lucasnlm commented on #96
I think that's actually a feature (it happens on Minesweeper from some newer Windows too). When you long press a numbered tile it open all its neighbors. If there is a mine in some of them it will be game over. If you flag the mine before long press the number it willl open all neighbors but won't open the flagged one.

This is a nice feature to help you open the field faster. But it still causes

[2020-06-19 21:00] V3D3 commented on #96
I just tried it out, and it makes sense as a feature. I think I'll actually use it now 😅
A toggle for it would be wrong since it seems like a part of the game, so the extra rule is a great idea.

A prompt about it would be nice (or an introduction to the game where the controls are walked through)

[2020-06-19 21:00] #96 closed

[2020-06-20 18:09] lucasnlm opened #101 "Migrate FixedGridLayoutManager.java to Kotlin"
[FixedGridLayoutManager.java](https://github.com/lucasnlm/antimine-android/blob/master/common/src/main/java/dev/lucasnlm/antimine/common/level/widget/FixedGridLayoutManager.java) was reverted to Java and it would be nice translate it to Kotlin. Since it's a very large class It must be done carefully.

[2020-06-22 13:17] DJCrashdummy commented on #74
is it on purpose that a first field is opened automatically after i taped on replay...? :confused:

[2020-06-23 09:50] Go-rom opened #106 "Previous games menu leads to a crash"
Hello,

First, thank you for this nice app !

i recently updated to 7.1.1 and encountered a bug.
When i try to reach the previous games, the app crashes. (Android 6.0.1)

Since 7.1.4 is now out but not available on F-Droid yet, you might have already fixed this one.
In that case, this ticket can be closed.

[2020-06-23 11:57] lucasnlm commented on #106
Thanks for report it!
7.1.4 fixes this issue.
It was a bug with Dugger Hilt.

[2020-06-24 22:50] Go-rom commented on #106
Ok thank you !

[2020-06-24 22:50] #106 closed

[2020-06-26 22:34] rvandegrift opened #109 "Impossible board"
Saw this board today.

![oops1](https://user-images.githubusercontent.com/976207/85906219-7f917900-b7c2-11ea-9aed-b30f547808bf.png)
![oops2](https://user-images.githubusercontent.com/976207/85906221-802a0f80-b7c2-11ea-89d2-ffc8a4bef7de.png)

[2020-06-27 00:47] lucasnlm commented on #109
Hi!
Is it scrollable horizontally or it wasn't possible?
I did not understand yet. 😅

[2020-06-29 15:47] rvandegrift commented on #109
Haha, I didn't realize I could scroll.  I saw the numbers of the right hand edge and thought they had to be incorrect.  Thanks!

[2020-06-29 15:47] #109 closed

[2020-06-29 16:29] lucasnlm commented on #75
Hi! @Vas0sky
Finnaly, the fast flag mode is available on `7.2.0`.
:smile:

[2020-06-29 16:29] #58 closed

[2020-06-29 16:30] lucasnlm commented on #57
Hi, @girst!
Fast flag is available on `7.2.0`.

[2020-06-30 08:20] girst commented on #57
On Mon, Jun 29, 2020 at 09:30:31AM -0700, Lucas Nunes wrote:

great! looking forward to trying it out once it hits fdroid. :)

[2020-06-30 21:22] Go-rom opened #112 "Wrong remaning mines number"
Hello

When you resume a previous ongoing game, mines counter displays the total number of mines instead of the hidden remaining mines

Here's a screenshot :
![Screenshot_2020-06-30-22-57-39](https://user-images.githubusercontent.com/1423386/86178347-7ee14580-bb28-11ea-8642-9eefdb52c081.png)

Spotted with 7.1.4 version

I checked the changelog related to 7.2.0 and 7.2.1 but didn't see any comment

[2020-07-01 01:33] lucasnlm commented on #112
You are right. I was very easy to reproduce.

[2020-07-01 01:53] lucasnlm commented on #112
Thanks for report it!
I will be fixed by #113
And will be on `7.2.2+`.

[2020-07-01 23:38] sergeiwork opened #115 "Open cell on first click when Click is set to quick flag"
If we set control scheme to Double click then single click will place flags. But there is no need to place flag on first cell you trying to open. So on first click we should always open cell. Quick and stupid fix will be to add if in ActionResponse.SwitchMark.

common/src/main/java/dev/lucasnlm/antimine/core/control/GameControl.kt line 297
[code]

I'm not that good at kotlin to make a pull request

[2020-07-02 02:07] lucasnlm commented on #115
Thanks for you feedback!
It makes sense!
Your code is right BTW.
I tested the following:

[code]

Just adding the `else 0`. `openTile()` already returns the number of changed views, so that `0` is not needed there.

[2020-07-02 02:08] lucasnlm commented on #115
I've open #116 with your code and some tests to it.

[2020-07-02 02:21] sergeiwork commented on #115
Ok I see. I haven't figured that openTile will return number of tiles. Thank for quick reply!

[2020-07-02 09:08] #112 closed

[2020-07-02 15:15] lucasnlm opened #120 "Fix `Victory` and `Defeat` on Stats"
`Victory` and `Defeat`  on Stats should be on plural

[2020-07-02 15:18] lucasnlm opened #121 "Translation"
## Localization

You can help translate or review the game via [crowdin](https://crowdin.com/project/antimine-android).

## Review

You can also help translate the texts from [fastlane folder](https://github.com/lucasnlm/antimine-android/tree/master/fastlane/metadata/android).

[2020-07-02 17:09] #115 closed

[2020-07-03 20:54] lucasnlm commented on #120
#122

[2020-07-03 20:54] #120 closed

[2020-07-05 14:01] slckl opened #125 ""Controls" setting ignored in custom sized games"
I'd just like to say, this is a very lovely game, done beautifully.

However, I prefer the double click to open tile, but this setting does not seem to work in "Custom" difficulty.

Here's how it repros for me:
1. start a normal game
2. set control to double click, works ok
3. start a custom game (say, 8x16, 30 mines)
4. check control, still at double click
5. but single click will open, instead o

[2020-07-05 14:19] lucasnlm commented on #125
Thanks for your feedback! :smile:

Indeed, this bug is really happening. :disappointed:
I will fix it and send a update ASAP.

If you use F-droid it my take up to 7 days, PlayStore will took about 2 days.

[2020-07-06 00:48] #75 closed

[2020-07-06 12:26] geftimov commented on #121
Can we add additional languages?
I am thinking of Bulgarian

[2020-07-06 12:35] geftimov commented on #125
The same problem happens if you retry a game.
Then the controls saved are lost.

[2020-07-06 13:02] lucasnlm commented on #125
@geftimov Thanks for report it. :smile:
It was the same root cause. I hope `7.2.4` fix both of these bugs.

[2020-07-06 13:11] lucasnlm commented on #121
@geftimov Of course! I've just added Bulgarian there. :smile:
`https://crowdin.com/project/antimine-android/bg`

[2020-07-06 22:25] lucasnlm commented on #121
@geftimov Your translation will be merged with #128
Thank you very much!

[2020-07-09 10:30] Go-rom opened #129 "[Feature request] Add stats reset"
Hello,

it would be great to be able to reset the stats.

Thanks !

[2020-07-09 12:49] lucasnlm commented on #129
A specific stats or all of them?

[2020-07-09 13:19] Go-rom commented on #129
I was thinking all of them.

9 juil. 2020 14:50:02 Lucas Nunes <notifications@github.com>:

[2020-07-09 23:14] lucasnlm commented on #129
I will be added with #130

[2020-07-10 04:26] Go-rom commented on #129
Nice, thank you !

10 juil. 2020 01:14:15 Lucas Nunes <notifications@github.com>:

[2020-07-11 14:47] #129 closed

[2020-07-12 18:58] slckl commented on #125
Newest version allows me to the double-click control scheme in custom-sized games as well, yay!

As far as I'm concerned, the issue can be closed.

[2020-07-13 10:19] Go-rom opened #132 "Last F-Droid builds failed ?"
Hello,

I got some updated apps the last week with F-Droid but got nothing for Antimine (i was waiting for 7.2.4)

I'm not really aware about how F-Droid really works but i did some checks and here's what i got.

The last successful build is 702021 as you can see [here](https://f-droid.org/wiki/page/dev.lucanlm.antimine/lastbuild_702021)
But the following builds [702031](https://f-droid.org/wiki/p

[2020-07-14 13:44] lucasnlm commented on #132
I will check what happend with F-Droid.
Thanks.

[2020-07-15 15:06] #125 closed

[2020-07-16 15:10] Go-rom commented on #132
The last build [702071](https://f-droid.org/wiki/page/dev.lucanlm.antimine/lastbuild_702071) has succeeded, thank you.

[2020-07-16 18:43] lucasnlm commented on #132
Thanks for report!

[2020-07-16 18:43] #132 closed

[2020-07-17 03:02] lucasnlm commented on #64
This feature is now available on `7.3.0` release.

I've implemented a brute force algorithm and a interface to easily add new implementations.
They are both [here](https://github.com/lucasnlm/antimine-android/tree/master/common/src/main/java/dev/lucasnlm/antimine/common/level/solver).

[2020-07-26 22:16] diegomalone opened #140 "More themes"
It would be nice to have colors on the numbers. It would also be nice to have the ability to change themes.

[2020-07-26 23:38] lucasnlm commented on #140
Hi, Diego!
Thanks for your feedback!
Do you mean change only the number colors?

About theme, currently there are two: default and dark theme. Dark theme is used when your Android is on Dark mode (there's no way to force it currently). And I hope to add a new `Themes` screen soon.

[2020-07-26 23:53] diegomalone commented on #140
My device is on dark mode and I hadn't seen the light theme yet. Playing without colors is confusing for me. However, I am happy to know that you are working on themes.

[2020-07-27 00:39] lucasnlm commented on #140
Now It makes sense. 😄
On dark mode the numbers are using the same color.

Again, thanks for your feedback!

[2020-08-08 18:42] lucasnlm commented on #140
Themes will be added by #144

[2020-08-11 18:27] nevillepark opened #149 "Better statistics"
Hi! I've really been enjoying Antimine, great work. I have some ideas for making the Statistics feature better:

- Collect separate stats for different difficulty settings. Maybe there could be a drop-down to choose which difficulty setting to view stats for. For example, "Beginner" would show you total time, average time, etc., only for beginner games. I think this would make statistics more usef

[2020-08-12 00:14] lucasnlm commented on #149
Thanks for your feedback! 😄
Great ideia! I hope to work on that a soon as possible.
I'm currently finnishing the `themes` feature.

[2020-08-12 17:07] white-gecko opened #153 "Feature Request question mark flag"
Thank you very much, I really like this implementation.
In the gnome mines implementation there is a feature that allows to set flags as well as question mark flags, which is really cool for uncertain situations.

[2020-08-12 17:11] white-gecko commented on #153
Oh, it is there now :-) cool thank you. Maybe I have missed it before.

[2020-08-12 17:11] #153 closed

[2020-08-15 20:28] guntbert opened #157 "Custom mode should preserve last selected values"
When I choose custom mode it always offers the same values (9/9/9) for height/width/number of mines.

I'd like to start with the values I selected the last time.

[2020-08-15 21:33] lucasnlm commented on #157
Hi!

Thanks for your feedback!
I will do it as soon as possible.
:)

[2020-08-15 21:39] Fatcakes opened #158 "Can you please bring back the amoled black theme?"

[2020-08-16 17:46] lucasnlm commented on #158
Hi!

@Fatcakes What version are you using?
I didn't remove the dark theme. On `8.0.0` I've added a `Themes` session.

BTW, the Dark Theme is not an AMOLED theme, what gives me the ideia of add a true AMOLED theme as well. 😄

[2020-08-20 03:36] lucasnlm commented on #158
Added on `8.0.5`.

[2020-08-20 03:36] #158 closed

[2020-08-20 03:36] lucasnlm commented on #157
Added on `8.0.5`

[2020-08-20 03:36] #157 closed

[2020-08-20 03:36] lucasnlm commented on #140
Added on `8.0.2+`

[2020-08-20 03:36] #140 closed

[2020-08-20 03:36] #57 closed

[2020-09-26 05:28] nitrocode opened #174 "Getting unknown installation error on fdroid"
I'm using Google pixel 3, red moon disabled, and getting an unknown installation error from fdroid when installing antimine. This used to work and I can no longer install older builds either.

I downloaded the same app from the play store and it worked correctly. Is the one from the play store coming from the same author?

[2020-09-27 18:30] lucasnlm commented on #174
They are both from the same author. However I don't think this `unknown installation error` is related to this app, but to F-droid client. Have you tried clean F-droid cache?

[2020-09-28 01:56] nitrocode commented on #174
Unfortunately, same issue after clearing cache. I tried uninstalling and reinstalling fdroid as well. Other apps from fdroid can be installed except for this one.

[2020-09-28 16:02] lucasnlm commented on #174
`unknown installation error` is not a good message :sweat_smile:
I will check on F-droid forum if I get more info.

[2020-09-29 01:01] nitrocode commented on #174
I should add that I'm running the latest Android 11.

[2020-09-30 15:03] lucasnlm commented on #149
![image](https://user-images.githubusercontent.com/1326126/94703168-efa92100-0314-11eb-8e4e-065bca357a3f.png)
Finished. It will be available on `8.2.0`. :smile:

[2020-10-03 14:58] adripo commented on #121
Can you add the "hacktoberfest" topic in your project's About please, so the pr is elegible to hacktoberfest?

[2020-10-03 21:21] lucasnlm commented on #121
@adripo Added `hacktoberfest` topic.

[2020-10-03 22:37] WildOrangutan commented on #101
Do you mind if I do that? I'm not really a first timer, but I would need to hone my Kotlin skills 😊

[2020-10-06 02:49] lucasnlm commented on #101
@WildOrangutan Of course!
Just pay attention on Android Studio automatic Java -> Kotlin translator. It works well but with this class it doesn't.

[2020-10-06 15:06] WildOrangutan commented on #121
Are there any limits, to which language you want to translate? Is any language welcome?

[2020-10-07 17:48] lucasnlm commented on #121
@WildOrangutan You can add a new language if it's not already listed on strings.

[2020-10-07 21:53] lucasnlm opened #188 "Code Improvement"
If you find a code that can be improved (or a bug), feel free to open a PR.

[2020-10-08 05:56] daniellandau opened #189 "Allow panning beyond edge"
It is not equally easy for me to reach all parts of the screen with my thumb. If you could move the game so that there's more gray edge after the grid ends, I could bring also the edges and corners to my good reachability zone.

[2020-10-08 06:01] daniellandau opened #190 "Chording on single tap"
Currently (on f-droid version) double tap does chording as described in https://github.com/lucasnlm/antimine-android/issues/57. I'd like the option to do it on single tap to play the game as fast as possible on a touch screen.

[2020-10-13 01:44] #101 closed

[2020-10-19 16:46] Porkepix commented on #174
For your information, just checked what was the last unsupported application for Android 11, so I guess https://gitlab.com/fdroid/fdroiddata/-/issues/2162 might be of interest to you :)

[2020-10-19 17:14] nitrocode commented on #174
Interesting. I don't see this app on that list. Does antimine also target sdk 30?

[2020-10-20 09:24] luke-clifton commented on #64
I have 8.3.0 and the game generated this which required guessing.

Note this is at the edge of the board.

![Screenshot_20201020-142915_1](https://user-images.githubusercontent.com/6327304/96567143-0aa9f800-12f9-11eb-9909-dc9839229fd0.png)

[2020-10-23 11:30] jonadem opened #202 "statistics by difficulty level"
It looks likes by now, the statistics are not split into difficulty level.
It should be the case IMHO.

Thanks for the work !

[2020-10-24 19:46] lucasnlm commented on #202
Hi @jonadem !
Thanks for your feedback!

What version are you using?
The current version splits the statistics by level.

[2020-10-25 19:28] jonadem commented on #202
OK, sorry.

[2020-10-25 19:28] #202 closed

[2020-10-31 17:27] fagnerln opened #205 "Control schemes only takes effect after restart the game"
I noticed that some control schemes don't work as desired, so I set it and close the app. When I resume the game, the control works well as it setted before.

--------------------------------------------
Como inglês não é minha língua nativa, tentarei entrar em mais detalhes em PT-BR mesmo. Eu sempre joguei com os controles padrão, mas percebi que muitos teem dificuldade com os controles, mesmo os

[2020-10-31 17:40] fagnerln opened #206 "Bugs with the black theme"
I tried all the themes, only find a bug with the black one. There's something specific with it.
When I scroll down, it breaks the text and images.

Another bug with themes:
My brother find another bug that I can't reproduce, I don't know if it's specific to PlayStore version (as I use the F-Droid), but for some reason, if he closes the app, it returns to the default theme

![WhatsApp Image 2020-10

[2020-10-31 18:29] lucasnlm commented on #206
I couldn't reproduce this bug on my device. What App version and Android are you using? And your brother's app version?

[2020-10-31 19:04] fagnerln commented on #206
I'm on a Moto e6s (XT2053-2), Android 9, Antimine 8.3.4 (Fdroid)

I don't know how you made the themes, but probably there's some specific to the black theme that doesn't fit on my resolution (maybe some texture?), which is 1424x720.

My brother have a Moto e5 play, Android 8.1, Antimine 8.3.4 (GPlay), but as he doesn't live here, I can't do more tests, and like I said, I can't reproduce the bug o

[2020-10-31 19:45] lucasnlm commented on #206
I will try using Android 9 emulator. About your brother issue, if he clicked on "Try It" button to set the theme it will be reseted after restart the game. But I'm will check if it's possible to happen on other context.

Thanks for report this bug!

[2020-10-31 19:46] lucasnlm commented on #206
Aliás, agora que eu reparei que você fala português 🤦‍♂️.

[2020-10-31 22:51] fagnerln commented on #206
É preferível o inglês para caso algum extrangeiro vem contribuir, facilita. Eu arranho um inglês, dependendo do texto levo muito tempo para redigir, como eu queria explicar melhor o outro bug e você é brasileiro, chutei o balde... Hehe

Tenta comparar um tema com o outro, é só o preto que dá essa falha (talvez alguma configuração no botão de seleção de tema?)

Quanto ao bug dele, nem eu e nem ele

[2020-11-03 12:54] lucasnlm commented on #64
@luke-clifton The current implementation was changed to try find games without guessing. If it takes too long to find a 100% no-guess game it will stop searching. I did it to have a better UX (it usually happens when a game has too many mines).

[2020-11-07 01:28] lucasnlm commented on #206
I was able to reproduce this bug using Android 9. It affects only AMOLED theme.
It will be fixed by 4c12b3167c81b012009ec0982f275be180a9294c.

Thanks for reporting it! 👍

[2020-11-07 01:57] lucasnlm commented on #190
Hi! Thanks for your feedback!
I hope that 535269f46c79be05d3a8bf22838ba3d3b5e7ea4d does what you want :)
It should be available on `8.3.8`.

[2020-11-08 21:15] petersohn commented on #64
What's the maximum expected mine density that's safe? Here is a screenshot of a guessing scenario on a 30 mine standard field.

![2020-11-08 21 27 51](https://user-images.githubusercontent.com/2822847/98484435-af8c6680-220f-11eb-94d9-24e58b642e73.jpg)

[2020-11-10 10:25] daniellandau commented on #190
It does, thank you!

[2020-11-10 10:25] #190 closed

[2020-11-11 19:52] lucasnlm commented on #64
@petersohn Depending on how my mines it must place and the area available it's impossible (or it take too much time) to find a 100% solvable level. So it fails in some cases. I think that is what happened to you. 😞

[2020-11-12 16:24] fagnerln commented on #206
It's fixed on 8.3.8! Thanks!

[2020-11-12 16:24] #206 closed

[2020-11-22 21:19] petersohn commented on #64
I looked at the code, and the current no-guessing algorithm is actually not what I want. It only accepts a map if it can be solved by brute-force, i.e. by long-clicking on the numbers. This will get boring pretty fast. I like maps where I have to make some more advanced deductions, but I don't have to guess randomly. This is actually pretty rare.

So I threw together a more sophisticated algorithm

[2020-12-04 16:08] nitrocode commented on #174
@Porkepix looks like the maintainer in that thread fixed this app around a month ago.

I tried to install antimine from fdroid today and it worked. Thank you to that maintainer and to you for finding that thread.

[2020-12-04 16:08] #174 closed

[2020-12-17 00:51] lucasnlm commented on #189
Hi!
Thanks for your feedback!

If you mean something like this:

<img src="https://user-images.githubusercontent.com/1326126/102423890-c8dfba00-3fe8-11eb-851b-6668f111456a.png" width="300px"/>

It will be added on `8.5.0` :smile:

[2020-12-24 20:10] atomizer opened #221 "Auto-flag is not really working"
Since there is no description on the feature, what I was expecting is that open squares with a number that have exactly that many unopened neighbours would get flags placed around them. An example of a state that was reached without placing any flags manually, with the feature enabled:

![](https://user-images.githubusercontent.com/418303/103105178-0c67a300-463d-11eb-93f0-5359f29bf495.png)

Seems

[2020-12-27 13:09] #189 closed

[2020-12-27 13:13] lucasnlm commented on #221
Thanks  for reporting it!
I think it really doesn't work so well for complex cases. I will try to improve it.

[2020-12-29 08:39] daniellandau commented on #189
Yes thank you this is what I meant!

I'd personally allow panning even slightly further away, but it's your app so you make the call.

[2020-12-29 17:30] lma-gh opened #224 "Illogical playfield generated"
See this screenshot of a game (note the obviously contradicting numbers in the top left corner):

![https://i.postimg.cc/3RbqTR8V/Screenshot-20201229-181104-dev-lucanlm-antimine.jpg](https://i.postimg.cc/3RbqTR8V/Screenshot-20201229-181104-dev-lucanlm-antimine.jpg)
.

I /think/ I got there after hitting a bomb, pressing the retry button and then playing until I reached the state shown.

Level is "

[2020-12-29 17:37] lma-gh commented on #224
OMG.

The playing field is horizontally **scrollable**!

This is ... not very intuitive, to say the least.

Well, at least this bug report can be either closed or turned into a wishlist bug report titled "Configure playfield scrollability and clearly indicate whether it is set to scrollable or not."

[2020-12-30 19:11] lucasnlm commented on #224
Yeah. Indeed.  :sweat:
The scroll is not so obvious :disappointed: .
I will add an way to indicate where the scroll is and indicate that there's a scroll in the game.

Thanks for your feedback! :+1:

[2021-01-03 23:41] wbrawner opened #230 "Trigger Long Press without lifting finger"
The standard behavior for long press on Android is to trigger it without lifting your finger. It seems that I have to lift my finger before the long press is registered in the game though, which is a bit confusing and took me a little while to figure out.

[2021-01-04 13:19] lucasnlm commented on #230
Thanks for your feedback!
Makes sense! I think this is happening due to an issue with double-click. I will investigate it deeply soon.

[2021-01-05 13:51] wbrawner commented on #230
I'd be happy to help contribute a fix as well if you'd like

[2021-01-05 16:04] mondlicht-und-sterne opened #231 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want. https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/ https://gitlab.com/snippets/1895688 That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-05 17:08] lucasnlm commented on #231
Nice! I will do that! :+1:

[2021-01-05 17:10] lucasnlm commented on #230
@wbrawner Feel free to try fix it. :smile:
I'm still working on some other fixes, so I can't work on it yet.

[2021-01-07 12:48] #230 closed

[2021-01-23 22:20] #231 closed

[2021-02-26 20:11] lucasnlm commented on #205
Olá!
Pode verificar se esse problema ainda ocorre com você?
Obrigado!

[2021-02-26 20:38] fagnerln commented on #205
Claro!
Eu já não me lembrava sobre como era o bug, por sorte ainda estava com uma build antiga do jogo em que consegui reproduzir, atualizei ele e na nova versão o bug já não ocorre mais, troquei várias vezes e os controles atualizaram corretamente.
O novo menu está ótimo, parabéns.

[2021-02-26 20:38] #205 closed

[2021-02-28 17:56] nevillepark opened #247 "Menu headings are cut off when system font size is increased"
When I increase the system font size from "Default" to "Large"/"Largest" in Android's accessibility settings, the bottom part of the headings for each section of the menu is cut off. I am using Lineage OS 17.1, based on Android 10.

![Screenshot](https://user-images.githubusercontent.com/16054979/109428105-7e54c380-79c3-11eb-88ad-b8e1a8795c54.png)

[2021-03-03 22:29] lucasnlm commented on #247
Thanks for reporting that!

[2021-03-04 13:50] siteswapper opened #248 "Torus map"
Feature request:
Instead of having boundaries where the map ends, the map could wrap around and continue on the other side.
Here is a link to a torus minesweeper variant:
[https://mzrg.com/js/mine/torus.html](https://mzrg.com/js/mine/torus.html)
But instead of this solution, I'd prefer an "infinite" board where one can scroll in all directions, and the board repeats periodically.

[2021-03-04 19:43] lucasnlm commented on #248
That's a nice idea!
I will investigate.

[2021-03-05 23:35] lucasnlm commented on #247
Fixed on 9.1.1

[2021-03-05 23:35] #247 closed

[2021-03-10 11:06] BloodRaven0 commented on #64
Another far simpler solution would be to just allow players to win if all mines are marked correctly, but not all squares are revealed.
Since it could be seen as cheating (but it would require far more time to solve this way then the normal way, hence not being a time-competetive method), it could be a toggle-able option in the settings.

[2021-03-11 23:49] lucasnlm commented on #59
@BloodRaven0 Thanks for report!

I'm working on a new presentation layer to replace completely using OpenGL instead of RecyclerView.
By doind this I hope to fix that issue and bring zoom out to the game.

[2021-03-11 23:58] lucasnlm commented on #64
@petersohn Sorry for take so much time to implement your suggestion. 😓
I got your code, but I'm still working on fix some render issues and adding support to opengl.

I hope to improve the generator soon.

[2021-03-12 00:00] lucasnlm commented on #64
@BloodRaven0 It's valid as a toggle-able option. As default It may confuse some users that aren't used to this.

[2021-03-12 00:02] lucasnlm commented on #248
@siteswapper I'm currently working on a new way to render the map using opengl. It will allow this kind of gameplay.
I hope to introduce this feature on version `10.0.0`.

[2021-03-16 11:33] BloodRaven0 commented on #64
@lucasnlm Yeah, I wouldn't have it as the default option either, even though I've seen some minesweeper apps leave it on as the default, and even have no option to turn it off. Still, it's not a perfect solution, because sometimes you might have a guessing scenario which is preventing you from revealing a larger part of the field, and this method can't help you with that.

[2021-03-23 20:55] guntbert opened #251 "wrong display for "help points received""
Commit 2e43f957cdd7cbb4b716e6136fba793a9b020fe2 introduced a bug where with "help" enabled  the Game Over Display shows

which isn't reflected in the actual number of help flags (you still get just +1).

It seems that the line https://github.com/lucasnlm/antimine-android/blob/2e43f957cdd7cbb4b716e6136fba793a9b020fe2/app/src/main/java/dev/lucasnlm/antimine/GameActivity.kt#L662 changes the displayed

[2021-03-24 16:38] lucasnlm commented on #251
Thanks for report it!

[2021-03-25 07:26] Duvio opened #254 "Big delay between tapping a tile and the tile getting getting revealed"
When i press a tile, there are like a few hundred milliseconds where the tile lights up (because i tapped it) and it getting revealed

This is annoying because it slows you down and destroys the ability to do speedruns

[2021-03-25 11:59] lucasnlm commented on #254
Hi @Duvio !
Thanks for your feedback!
This probably is more visible on big maps while the game tries to find a map that doesn't need guessing (this can be disabled on settings).

I'm currently working on a new rendering way, so the next update is expected to be faster.

I'll check if I can do something to improve this startup time.

[2021-03-25 14:38] Duvio commented on #254
I wasnt talking about the time the map takes to generate when the game starts. I meant the time it takes for a tile to change from unrevealed to revealed after being tapped. I disabled the "no guessing" mode, but nothing changed

I attached a video to show you what i mean. In the video you can see that it takes a little amount of time for a tile to change its status after being tapped. It's diffic

[2021-03-26 22:40] lucasnlm commented on #59
Almost there. Any feedback about it?

<img src="https://user-images.githubusercontent.com/1326126/112699567-e388c100-8e6a-11eb-99eb-4d0f2a6154d5.png" width="250px" /> <img src="https://user-images.githubusercontent.com/1326126/112699599-f4d1cd80-8e6a-11eb-91b3-dfcc00140c7c.png" width="250px" />

[2021-03-27 11:10] girst commented on #59
On Fri, Mar 26, 2021 at 03:40:40PM -0700, Lucas Nunes wrote:

without the numbers, i think a lot of context is going away as well.
the numbers tell you where a move can be done.

apologies for the "why not just" question, but i'd be interested in what
the challenges are for the following: with the coming opengl based
rendering, shouldn't it be possible to implement pinch-to-zoom? as far
as i remem

[2021-03-27 14:37] lucasnlm commented on #59
Yes! I did a pinch-to-zoom. So the numbers are not visible only when they get too small.
So, it's not a two states mode (normal and zoom out). You can pinch-to-zoom and adjust whatever zoom level you want.

[2021-03-27 14:53] girst commented on #59
On Sat, Mar 27, 2021 at 07:37:51AM -0700, Lucas Nunes wrote:

That's actually sensible. maybe once they are too small, maybe put a
correctly-colored dot in the cell?

Sounds great! Can't wait! :D

[2021-04-07 06:28] jspricke opened #261 "Can't be build in F-Droid due to binaries"
Your app fails to build on F-Droid:
[code]
https://monitor.f-droid.org/builds/log/dev.lucanlm.antimine/1000001

Is there a way to build it without those?

[2021-04-07 14:33] lucasnlm commented on #261
They are required. However they are commited in `gdx` module [here](https://github.com/lucasnlm/antimine-android/tree/master/gdx/libs).

Is it possible that some F-droid script delete them before the build?

[2021-04-07 14:44] jspricke commented on #261
I'm not sure I understand you. For F-Droid everything needs to be build from source, we don't accept binaries build by someone else. That's why the build complains about binaries and fails. I understand that those binaries are required, so would there be a way to build them from source? Or are they not required and we could delete them before building?

[2021-04-07 14:56] lucasnlm commented on #261
I mean they are required to build and I can't get them from source.
Currently I get them from `"com.badlogicgames.gdx:gdx-backend-android:1.9.14"` [here](https://github.com/lucasnlm/antimine-android/blob/0d1d85c520c403c69aedbf7567774b82c02b8592/gdx/build.gradle#L58)

And then, calling `copyAndroidNatives` gradle method to copy the native libraries.

Is it possible to add this `copyAndroidNatives`

[2021-04-07 14:59] jspricke commented on #261
If we can't build them from source we can't include it in the F-Droid repo. I will disable the app then.

[2021-04-07 15:40] lucasnlm commented on #261
Can we let it until version 9.1.1?

[2021-04-07 15:47] jspricke commented on #261
yes

[2021-04-07 15:51] lucasnlm commented on #261
One last question. Do you know if it's possible to let F-droid get LibGdx libraries from cache somehow?
It doesn't make sense to me that `com.google.android.material:material:1.3.0` works with f-droid but libgdx doesn't.

[2021-04-07 16:10] jspricke commented on #261
`com.google.android.material:material:1.3.0` is imported from mavenCentral, which is trusted by F-Droid: https://f-droid.org/de/docs/Build_Metadata_Reference/#build_srclibs
What do you mean by 'cache'? As written above, we would need to build LibGdx from source.

[2021-04-07 23:05] lucasnlm commented on #59
Zoom out it's available on `10.0.0`.
It currently it not available on F-droid due to a build issue (I'll check it later).

[2021-04-07 23:05] #59 closed

[2021-04-08 14:41] lucasnlm commented on #261
@jspricke I just published a new release (10.0.3) without that `.so` libraries. Can we try again with that version?

[2021-04-08 15:04] jspricke commented on #261
That change would work for me, I've opened a MR: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8761
Thanks!

[2021-04-08 15:32] linsui opened #263 "System them broken"
![IMG_20210408_233052](https://user-images.githubusercontent.com/36977733/114054690-9ac80380-987f-11eb-85fd-7f72f7c662e1.jpg)

[2021-04-08 19:09] lucasnlm commented on #263
Hi!
Can you give more details?
Does it crashes as soon you open it?
Which version? Google or F-droid?

[2021-04-09 00:16] linsui commented on #263
It's 10.0.3 from F-Droid. It works but the default theme is unreadable.
![IMG_20210409_081552](https://user-images.githubusercontent.com/36977733/114111158-cae7c480-98c8-11eb-9398-4000d50ccfe6.jpg)

[2021-04-09 14:43] lucasnlm commented on #263
Ok! Thanks for report!
What it's your Android version and device?

[2021-04-09 14:52] linsui commented on #263
Android 10, Xiaomi Mi 6

[2021-04-09 19:22] lucasnlm commented on #263
Thanks!
It will be fixed by `10.0.4`

[2021-04-09 19:22] #263 closed

[2021-04-09 19:22] #261 closed

[2021-04-09 19:23] lucasnlm commented on #254
Hi!
@Duvio Can you check it works better on `10.0.4+`?

[2021-04-09 19:23] lucasnlm commented on #251
Fixed on `10.0.0+`

[2021-04-09 19:23] #251 closed

[2021-04-09 19:29] Duvio commented on #254
I cant find an APK of the new version and the new update is not available on FDroid, otherwise i would test it immediately

[2021-04-15 19:58] guntbert opened #267 "Time runs crazy"
On 10.0.4+ the time runs with approximate double speed but somewhat "swing style" (as I would call it in music)
I try to visualize a time line (the `+` denote the ticks)

    --+-+--+-+--+

I since found that this doesn't happen always. But it's not hardware dependant - occurs on the phone as well as in the simulator.

[2021-04-16 12:55] lucasnlm commented on #267
Thanks for reporting it!
I will investigate.

[2021-04-16 15:24] lucasnlm commented on #254
@Duvio Hi! It's available on F-droid now. Can you test it again?

[2021-04-16 19:23] Duvio commented on #254
Yes, it works better and more smoothly now
Thanks

[2021-04-16 19:23] #254 closed

[2021-04-27 17:51] Xcl4m4t10n opened #272 "Game taps doesnt work"
Lineageos 17 on Z3 Compact through FDroid.

I can mové the table, zoom in and out, i can tap on menús and i can even tap on squares with numbers, but when I try to tap on blank squares, both regular and long tap, none works.

[2021-04-27 19:35] lucasnlm commented on #272
Are you using the default control mode?

[2021-04-28 11:40] BloodRaven0 opened #274 "Changing screen orientation resets the game"
Its like pressing continue from the menu loading some other previous game or starting a new one, and you cant switch the orientation back to continue.

This might be a symptom of the save/continue system not working correctly and not saving when it should.

Im on v10.0.4 from f-droid. I tried reinstalling, but the issue persisted.

[2021-04-30 13:14] lucasnlm commented on #274
It looks like it happens only on the first game steps (right after open the minefield).
I will investigate more.

[2021-04-30 18:12] BloodRaven0 commented on #274
For me it happens at any point in the game, I was 3 squares away from beating a game when I tilted my hand just enough for the orientation to change, which reset my game, it's pretty annoying.

[2021-05-02 15:19] lucasnlm commented on #274
Ok.
I think I found the bug. I will be fixed on `10.1.4`

[2021-05-03 08:21] BloodRaven0 commented on #274
@lucasnlm Awesome!

By the way, I don't know if it has anything to do with this bug, but the "Standard" games are treated differently in portrait and landscape modes in the statistics tab. When in portrait, only standard games played in portrait will display as "Standard", the ones played in landscape will display as "Custom". Switching the orientation to landscape, the portrait games will show up

[2021-05-10 11:12] girst opened #276 "Gestures (drag, pinch) are way too sensitive"
The new GL based UI looks really slick! But notice how in the following screen recording (the white dot is my finger position) the gestures are moving further than I'm moving my finger(s). This makes using the gestures accurately pretty much impossible.

In the first part, i'm trying to pan around the playfield. I'm expecting that I'm dragging the cell under my finger around, but the playfield mov

[2021-05-10 15:15] lucasnlm commented on #276
Indeed. I have to improve the gestures.
I will work on that for the next release.

[2021-05-11 22:07] lucasnlm commented on #276
I update the navigation code. I hope to `10.1.5` fix or improve this.

[2021-05-14 01:25] MrCavey opened #279 "No guessing"
Recently played a game on expert level with no guessing turned on and got to a 50/50 chance[Photo](https://ibb.co/Ct8G3nq)

[2021-05-14 11:39] MrCavey commented on #279
Few more examples

https://ibb.co/phK2xSj

https://ibb.co/DzxNb4n

Both from same game

[2021-05-14 14:38] lucasnlm commented on #279
Thanks for your feedback! :)
Yes. Currently the No guessing algorithm may fail in some circumstances (or it fails to find a 100% solvable map in a short period).
I'm currently thinking on a new version of it, so I will let your issue open until fix the algorithm.

[2021-05-14 22:57] Hedgehog0091 opened #280 "Toggle for long pressing numbered tiles"
tl;dr: read the title
I personally don't like having the option to do so, it allows me to just go through and long press all tiles around the edge and complete the game without doing a whole lot. I think a toggle would be nice, despite what was said in issue #96.
If the 'I don't like it' argument isn't enough, another argument would be someone who doesn't want to open some tiles accidentally does

[2021-05-17 08:05] BloodRaven0 commented on #274
I can confirm the rotation issues have been fixed in 10.1.5, although they are still counted as different game types in the statistics (as I explained on my previous comment). Also when you press new game, it instead continues the previous one if there is one in progress, instead of starting a new one (even if the previous is a different size).

[2021-05-17 12:13] lucasnlm commented on #280
Ok. As a toggle it makes sense.
I'll add it on the next release.

[2021-05-20 21:51] lucasnlm commented on #280
A flag button to disable this feature will be added on `10.3.0+`.
For now, I will close this issue. But, feel free to open a new one or reopen this one if needed.

[2021-05-20 21:51] #280 closed

[2021-05-20 21:54] lucasnlm commented on #276
@girst Can you check how it feels on `10.1.5+`, please?

[2021-05-21 00:46] MrCavey opened #282 "Performance"
On the new master level I'm experiencing a lot of slow down on my clicks. I'll do 2-4 quick clicks as I've done the calculations in my head and none of the register. I have to go back to click one and wait for it to register which seems to take over a second sometimes. This is frustrating when trying to get a really fast time.

If it helps in using a galaxy s20 ultra

[2021-05-21 00:51] MrCavey opened #283 "Master level"
This level seems easier than expert, way to many open spots and very little math or logic included, suggest upping mine count or shrinking size.

Not really a bug per se but seems easy easier then expert level, some balancing needs to be done imo.

[2021-05-21 04:14] girst commented on #276
On Thu, May 20, 2021 at 02:54:57PM -0700, Lucas Nunes wrote:
***@***.*** Can you check how it feels on `10.1.5+`, please?

ah, sorry. i intended to give you an update!
10.1.5 and 10.1.6: dragging has improved a lot (it still lags a tiny bit
if i move my finger really fast, but i think that's because my phone
can't keep up). zooming is still the same, though.

[2021-05-21 21:05] lucasnlm commented on #283
Thanks for your feedback! :)
I will make some tests increasing the mine count.

[2021-05-21 21:09] lucasnlm commented on #282
Yeah :(
It really have some performance issues with large maps.
It happens because of some recursive functions that run every time you tap.
It was worse before "Master" level. I had to make some optimizations before release the Master level.

Anyway, I'm still searching for optimizations points.

[2021-05-22 03:26] UniqueActive commented on #279
![Screenshot_20210522-052240_Antimine](https://user-images.githubusercontent.com/27487663/119213211-c7497f00-babd-11eb-9a2b-893e76067aef.png)

I also found a scenario like this. The corner is not solvable without a 50% guess between the cornerpiece and the one below. Perhaps more examples help with figuring it out, so I thought I should share :)

[2021-05-26 14:06] lucasnlm commented on #276
Ok! I will check the zoom control again.

[2021-05-28 20:34] lucasnlm commented on #282
@MrCavey Good news. It wasn't actually the main code. The code that controls the minesweeper takes less than 1ms even on Master level. I found another point related to the code that render the minefield taking more than 200ms on libgdx code. I'm working on this and It will probably be faster on the next release.

[2021-06-04 20:29] lucasnlm commented on #282
@MrCavey I did some more optimizations. Now it can handle even huge maps (100x100 with 3k mines) with a good FPS. The only problem it that it takes some seconds to create the map.

[2021-06-04 21:23] MrCavey commented on #282
Generating a large Firefox like that I would expect it to take a few seconds. That is livable, going for a fast time though is more important then waiting a second or two to let the board generate. Good job I look forward to testing it

[2021-06-04 23:27] MrCavey commented on #282
Just tried master level and I have to say I didn't get frustrated because of lag once. I believe this issue can be closed.

[2021-06-04 23:27] #282 closed

[2021-06-04 23:28] MrCavey commented on #283
300 is a good number, took me just about 7 minutes to finish that way.

[2021-06-04 23:28] #283 closed

[2021-06-05 00:34] lucasnlm commented on #282
Thanks for test it again!
I hope 12.0.0 will be even faster

[2021-06-06 14:10] njmdietrich opened #286 "[Feature Request/Improvement] Disallow open on flagged cells"
think it would be great to make it impossible to open a flagged cell without unflagging it first. This would prevent a decent amount of "fat-fingering"

[2021-06-06 16:20] lucasnlm commented on #286
Hi!
Thanks for your feedback / request. :)

I have some questions about your request (current game config). Which control style do you use? How did you open a flagged cell without unflag it first?
Currently using standard mode is not possible to open a flat without unflag it (or I'm missing something :sweat_smile: ).

[2021-06-06 18:15] njmdietrich commented on #286
I am using the [Use button to switch between flag and open] control style. Being in the open mode is enough to be able to open flags.

[2021-06-06 21:06] lucasnlm commented on #286
I just checked here and it seems to be a bug with this control style. It shouldn't open a flagged cell without remove it first.
I will fix it. :)

[2021-06-12 07:56] yw662 commented on #64
I just experienced an end game guessing condition with guess free on.
Though I don't know how to put some details here.

[2021-06-15 09:09] yw662 commented on #279
and this:
![Screenshot_20210615-015325](https://user-images.githubusercontent.com/34736747/122025617-5759ac00-cd7e-11eb-9c05-00cad6eee688.png)
a 50% guess on 3 mines.

[2021-06-15 10:11] yw662 opened #287 "[question] Is "no guessing" effective in standard mode ?"
Standard is currently 9x18-36 for me, indeed much harder than expert. I actually have to guess in nearly every game.
Is the option not actively or is it just to hard ?

[2021-06-15 13:06] lucasnlm commented on #287
Standard mode gets harder after every win you get. So, after some point, it may take too much time to find a "no guess" level and the algorithm fails. The more mines in a field, more difficulty is to find a "no guess" level.
I'm still trying to figure out a new algorithm, but currently it's not possible.

[2021-06-20 09:26] returnedinformation opened #290 "Issues in main menu with some specific themes"
**Describe the bug**
The main menu is barely visible when using certain themes when the brightness is not at maximum. Screenshots available.

**To Reproduce**
Select the theme and go to main menu

**Screenshots**
![Screenshot_20210620-111742_Antimine.jpg](https://user-images.githubusercontent.com/57621749/122668816-3f3cbf00-d1ba-11eb-85b7-21116e7d8e64.jpg)
![Screenshot_20210620-110736_Antimine.jpg

[2021-06-20 14:33] Skirmisher opened #291 ""Tap on numbers" doesn't work when controls are set to use toggle button"
When controls are set to "Use button to toggle between Flag and Open", the "Allow tap on numbers" setting has no effect. Tapping on a number with the correct amount of adjacent flags does nothing, in both Flag and Open mode.

**Android version:** 8.1
**App version:** 12.0.0

[2021-06-20 15:41] Skirmisher opened #292 "Toggle button control incorrectly remembers state when resuming game"
When using the "Use button to switch between Flag and Open" control scheme, resuming a game can result in the button showing the incorrect state. Specifically, if the button was in Flag mode and the player backs out to the menu, returning to the game with Continue shows the button with a flag icon, but in reality the game is in Open mode(!!). Tapping the button once changes the icon back to Open,

[2021-06-20 15:50] Skirmisher opened #293 "Place "mode toggle" button in the top bar, instead of over the playing field"
I don't use this mode myself, but my partner is frequently frustrated with the Material-style floating button in the toggle control scheme, because of how easy it is to accidentally tap the playing field if she doesn't tap the button dead-on. The placement near the bottom of the screen is convenient sometimes, but it would help in this case if the button were placed somewhere less likely to cause

[2021-06-21 19:44] lucasnlm commented on #292
Still happens on `12.1.0`.
I will fix it on `12.2`

[2021-06-30 08:41] RickyM7 opened #294 "Is this your app?"
This app is literally Antimine with other colors and is on Google Play with the same package name as your app:

https://play.google.com/store/apps/details?id=dev.lucanlm.antimine

I'm not sure if it's yours, so I decided to post it here!

[2021-06-30 09:12] RickyM7 opened #295 "Your apps don't have icons"
**Describe the bug**
I don't know if this is the best place to post this, but, I have the games "Antimine" and "Snake!" Installed on my phone and both do not show the icons correctly.
It's been a while since this happened, but I can't specify how long.

**Screenshots**
![Antimine-no-icon](https://user-images.githubusercontent.com/24703825/123934288-8587e000-d969-11eb-9240-7a839245b6a5.jpg)

**Andr

[2021-06-30 13:46] lucasnlm commented on #295
Thanks for report it!
They should have icons. :sweat_smile:

I will test using an emulator on Android 7.

Thanks!

[2021-06-30 13:48] lucasnlm commented on #294
Yes. Since it's not open source and without any changes, it will check what I can do.

[2021-06-30 14:13] lucasnlm commented on #293
Hi! @Skirmisher
Is this what you mean?

<img src="https://user-images.githubusercontent.com/1326126/123975928-1d022880-d994-11eb-999b-f358e08fa77c.png" width="250px" />

[2021-06-30 14:16] lucasnlm commented on #294
I open a request on Google to remove that app. Since it's a complete copy (not even a fork with same changes) and it's not open source (requirement for GPL), It doesn't make sense allow it there.

[2021-06-30 14:20] #286 closed

[2021-06-30 14:29] lucasnlm commented on #291
It will be fixed on the next version.

[2021-06-30 15:11] RickyM7 commented on #294
Perfect! That's definitely the right thing to do.

[2021-06-30 19:01] Skirmisher commented on #293
Yes, that's great :)

[2021-06-30 23:02] lucasnlm commented on #293
Ok! It will be available on the next update! :)

[2021-07-01 18:00] lucasnlm commented on #294
It was removed!
@RickyM7 Thank you very much!

[2021-07-01 18:00] #294 closed

[2021-07-03 11:07] linsui opened #298 "Please update app/gradle/wrapper/gradle-wrapper.properties"
**Describe the bug**
app/gradle/wrapper/gradle-wrapper.properties is not updated to 6.5

[2021-07-03 15:51] lucasnlm commented on #298
I just updated it to `12.4.2`.

https://github.com/lucasnlm/antimine-android/blob/master/app/gradle/wrapper/gradle-wrapper.properties

Is it failing to build on F-droid?

[2021-07-03 16:01] linsui commented on #298
Yep. F-Droid detects gradle version from app/gradle/wrapper/gradle-wrapper.properties first so that 6.1.1 was used. Thanks!

[2021-07-03 23:02] AJS101 commented on #287
Could you perhaps add a warning when the no-guess algorithm fails so the user doesn't waste time looking for a solution that doesn't exist?

[2021-07-07 21:56] Ledarium commented on #64
![Screenshot_20210708-005147](https://user-images.githubusercontent.com/10389237/124833567-e87f0580-df6d-11eb-960f-2b533e903a08.png)
Still have guessing situation even though 'No guessing' mode is on. Thanks for the awesome game version overall!

[2021-07-19 00:06] dylantjb opened #302 "Single tap on number to clear surrounding mines"
**Is your feature request related to a problem? Please describe what the problem is.**
I primarily play by long pressing to flag, and short pressing a number to clear and I would love for this to be possible in the app.

**Describe the solution you'd like**
Implement an option to switch from long press to short press when tapping on numbers.

**Describe alternatives you've considered**
N/A

**Addi

[2021-07-19 16:10] lucasnlm commented on #302
Hi! Thanks for your request.
What control style do you use?
I think click on numbers is possible in most of them.

[2021-07-23 23:59] neeels opened #303 "wrong numbers in cells"
attached screenshot shows impossible numbers in indicator cells: the two "2" in top right corner are wrong.

![Screenshot_20210724-015037](https://user-images.githubusercontent.com/3238680/126851120-92ef101d-3366-49e0-867a-78f5a77dd798.png)

[2021-07-24 19:20] lucasnlm commented on #303
Which "2" exactly?
Since there are covered areas there, it may be right.

[2021-07-25 20:50] #293 closed

[2021-07-25 20:51] lucasnlm commented on #287
I will do that!
Good ideia!

[2021-07-25 22:21] neeels commented on #303
isn't it obvious??

Here, I marked a couple of numbers that are definitely wrong,
(one of the four marked could be correct if the "2" below it were a "3" instead.)

![marked](https://user-images.githubusercontent.com/3238680/126915172-260b45b5-b416-4ac4-aba4-64371515d613.png)

[2021-07-26 13:58] lucasnlm commented on #303
I thought it was with a specific "2".

But, considering the area out of the screen, it looks right for me.

![image](https://user-images.githubusercontent.com/1326126/127000977-e5743b2b-3bec-41f8-8bd6-4928e3abaea9.png)

[2021-07-27 04:44] linsui commented on #298
Please update app/gradle/wrapper/gradle-wrapper.properties to 6.7.1. Thanks!

[2021-07-27 15:46] neeels commented on #303
I assume the area I see is the entire game board. The screenshot shows the entire screen of the phone. Are you saying that I can pan the board "under" the physical screen? If that is the case then close this issue as invalid.

argh just checked, and i just didn't realize that the board can be panned. Sorry for the noise...

[2021-07-27 15:46] #303 closed

[2021-07-28 18:47] #295 closed

[2021-07-28 18:47] #292 closed

[2021-07-28 18:48] #291 closed

[2021-07-28 18:48] lucasnlm commented on #290
Fixed

[2021-07-28 18:48] #290 closed

[2021-08-02 06:26] BloodRaven0 opened #305 "Hints could be done better"
The hints are a nice addition to the game, since the "no guessing mode" option literally never works, especially on standard games, where mine density is about 30%.
However, the nature of their implementation could be improved:

First off, you only get 2 hints per game, no matter what difficulty it was. This makes it meaningless to "farm" hints on anything but beginner, and undervalues the hint re

[2021-08-02 06:45] BloodRaven0 opened #306 "Disparity in mine density between difficulties"
Here are the current mine densities, calculated per difficulty.
Standard (9x17, 47) - 30.72% (varies per games played)
Beginner (9x9, 10) - 12.35%
Intermediate (16x16, 40) - 15.63%
Expert (24x24, 99) - 17.19%
Master (50x50, 300) - 12%
Legend (100x100, 2000) - 20%

As you can see, besides standard, which is punishingly hard (and often impossible without hints), the difficulties have a linear progre

[2021-08-02 06:50] BloodRaven0 commented on #302
What I did was set the "long press" delay really low, so my long presses are almost taps. The problem with this is that when you actually want to tap to reveal a square, it might take several tries.

[2021-08-02 15:57] lucasnlm commented on #306
Agree about your points. I think I can increase the Master difficulty.

About the Standard, what do you think about increase the area to keep it in max of 25% density.

[2021-08-02 16:25] BloodRaven0 commented on #306
@lucasnlm 25% sounds good. You might need an algorithm about when to increase the width and when the length (one should be increased more often than the other to keep the aspect ratio, and don't forget to take landscape mode into account, which complicates things a little.

[2021-08-07 16:21] Alzarath commented on #302
It feels uncomfortable to use long-press to reveal surrounding blocks. Doing the same motion over and over (long-tapping to flag *and* reveal) does not feel like you're interacting with the game very consciously.

I would prefer to long-press exclusively to flag and tap to reveal tiles surrounding a revealed tile. Giving players the option is always nice. Might even be nice to be allowed to disabl

[2021-08-16 11:44] yuhuitech opened #307 "Texts overlap the switch option behind in the largest font and display"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the settings page, **there is a part of texts overlapping the switch option behind**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesight, I of

[2021-08-23 14:04] #307 closed

[2021-08-23 17:38] lucasnlm commented on #305
I hope to introduce this feature on `14.0.0`. I will implement using the 10% of mines ideia.

[2021-08-23 17:48] lucasnlm commented on #287
This feature has been added on `13.0.0`.

[2021-08-23 17:48] #287 closed

[2021-08-23 17:49] lucasnlm commented on #279
On the next update a warning will be shown when the level generator fail to create a guess-free minefield.
I hope this helps.

[2021-08-23 18:31] lucasnlm commented on #298
@linsui I just updated all `/gradle-wrapper.properties` to ` 6.7.1` on `14.0.0`.
I hope it fixes the problem with F-droid build.

[2021-08-24 03:52] linsui commented on #298
Thanks!

[2021-08-24 03:52] #298 closed

[2021-08-29 18:17] BloodRaven0 commented on #279
https://github.com/chrisboyle/sgtpuzzles
You can take a look at this puzzle compilation, it has minesweeper with a flawless no-guessing mode. I tried it with parameters that yours consistently fails with (standard mode with 40-50+ mines), and since it's open source, I thought you could take a peek at how they've done it.

[2021-09-04 07:42] eladhen opened #317 "Standard board size seems random and can't be changes"
**Describe the bug**
I used to have a 18*10 board on Standard level with no way to adjust. This size fit my screen so it was fine. After the last update (14.0.0) standard size changed to 21*13, much larger and doesn't fit my screen unless I zoom out.

**To Reproduce**
Notsure, because I'm not sure how the game decides the board size on standard.

**Expected behavior**
I'd like to be able to custom

[2021-09-05 19:36] lucasnlm commented on #317
On `14.0.0` Standard difficulty will increase size of minefield to keep a maximum ratio of mines/size.
Before this change, it was possible to have a Standard with a mines ratio bigger than "Expert" level.
So, depending on how many Standard games have you won, the Standard size will be larger than your screen size.

What I can do is create a new fixed size level. What do you think about it?

[2021-09-05 21:00] eladhen commented on #317
Yes, I would like to have a fixed size version! That's what I enjoy playing. I really loved the "normal" setting of the game before it changed size. I really love this version of minesweeper. Thank you!

[2021-09-06 15:09] lucasnlm commented on #317
Thanks again for your feedback!
I will add fixed size level on the next update.

[2021-09-08 00:46] lucasnlm commented on #317
<img src="https://user-images.githubusercontent.com/1326126/132427771-b292a148-7c16-41e1-b839-941cdef9e225.png" width="300px" />

On the next update, "Standard" will be renamed to "Progressive" and a new "Fixed Size" difficulty will be available.

[2021-09-08 19:29] lucasnlm commented on #279
@BloodRaven0 I will take a look.

[2021-09-11 20:06] lucasnlm commented on #279
@BloodRaven0 I was able to import the exact same algorithm from Simon Tatham's mines.
It will be added with #321 on version `14.2.0`.

An example of a minefield generated with this algorithm that wouldn't be generated by the old one:

<img src="https://user-images.githubusercontent.com/1326126/132960389-fe3acc83-2468-4eaa-92a9-f92be4cc0181.png" width="300px"/>

[2021-09-12 07:50] BloodRaven0 commented on #279
Awesome, I'm so excited about this!

[2021-09-12 10:47] tux-ware commented on #121
Hello, I just joined the project via crowdin platform. I would like to add a Slovak translation. How do I do that? Shall I do a fork on github and then do the pull request, or can I add Slovak translation directly via crowdin?

[2021-09-12 14:22] lucasnlm commented on #121
@tux-ware Hi! Thanks for your interest! :)
I just added Slovak on crowdin. So all you need to do is translate there.
When finished, it will export and update the translation here.

This is the link: https://crowdin.com/project/antimine-android

[2021-09-14 06:27] eladhen commented on #317
Will it be possible to change the size of "fixed size" manually?

[2021-09-14 14:09] lucasnlm commented on #317
@eladhen Currently not. The current "fixed size" is calculated to fill the device screen.
But you can create a new game with a different fixed size using "Custom" mode.

[2021-09-20 08:53] eladhen commented on #317
The fixed size in version 14.2 doesn't add mines after each game. What I want is a mode like "normal" in version 12...

[2021-09-21 21:10] lucasnlm commented on #317
@eladhen I can try do something about it, but add more mines with fixed size will create impossible games (usually after 22% of the area)

[2021-09-22 15:41] eladhen commented on #317
I understand that, but the dynamic of going up and down the stages in this mode is exactly what I want. I reinstalled version 12 to play normal mode. If the level is impossible you fale and drop one mine. It's fine and fun.

[2021-09-23 15:01] DoyleChris opened #325 "Cant win legend."
I have completed a Legend puzzle but dosent register it.
![Screenshot_20210923-105921_Antimine](https://user-images.githubusercontent.com/14863729/134532326-cb796aa3-ceec-449b-a374-45628df0f31a.jpg)

[2021-09-26 16:58] lucasnlm commented on #325
Hi!
Thanks for your feedback.

Usually, when this happen is because there's a square flagged but without a mine in it.
Currently, there's no feedback in the game about it (I think I should add).

[2021-09-26 23:16] lucasnlm commented on #325
Did the clock stop or is it running?

[2021-09-28 21:51] lucasnlm commented on #317
I think if I add an option on "gameplay" Settings to enable/disable this feature, it may help you. Is it ok to you?

[2021-09-30 22:54] lucasnlm commented on #64
@Ledarium Have you check the current version? It uses a new algorithm.

[2021-10-01 13:59] DoyleChris commented on #325
running

[2021-10-01 14:00] DoyleChris commented on #325
if all squares are covered and no flags left it should stop.  im having a hard time recreating.

[2021-10-03 09:10] mondlicht-und-sterne commented on #121
i am finished the german translation now

[2021-10-04 04:37] eladhen commented on #317
I feel like that's hiding the game's best feature, but if it's available, I'll be happy.

[2021-10-09 17:30] lucasnlm commented on #317
@eladhen The increase of mines in "Fixed Size" mode will return in "15.0.0" but with a new system to avoid impossible levels. For example: in a Fixed Size level it will try place X mines, but if it fails to create a solvable level it will remove some of them (especially to ensure the first clicked are is safe).

[2021-10-19 21:51] Farbklex opened #339 "Wrong y position calculation and crash in landscape mode"
**Describe the bug**
The game seems to calculate the wrong y coordinate for the first clicked field. This also leads to a crash when the game is started and played in landscape orientation.

**To Reproduce**
Tested with Emulator:
- API 30
- Screen dimensions: 1440 x 2880

1. Click "New Game"
2. Select "Fixed Size"
3. Attach a debugger to `MinefieldCreatorNativeImpl.create(safeIndex: Int)` method
4

[2021-10-20 17:18] lucasnlm commented on #339
@Farbklex Thanks for report it! Great description BTW. :clap:

[2021-10-21 13:27] #339 closed, assigned to nobody

[2021-10-23 12:49] soundsbeard opened #342 "no guessing mode got broken"
**Describe the bug**
i've installed this game first time about a month ago from fdroid.
i've played 100+ games in 'no guessing' mode and they were fine, no guessing indeed, unless the notification warned me its not.

i can't say exactly when it happened but i think that after the last update no guessing mode got broken.
i've played about 6 games after the update and each ended with guessing.
this

[2021-10-23 20:29] Farbklex opened #343 "One row of game field is hidden in landscape mode."
**Describe the bug**
Game field is too big in landscape mode.

When the device is in landscape mode, the game field is too wide by one row in the progressive and fixed size game modes.

**To Reproduce**
1. Rotate the device into landscape mode.
2. Select new game and "Progressive" or "Fixed size"

Actual behavior: One row on the left is hidden partially under the game ui.
**Expected behavior**
The

[2021-10-27 16:06] #343 closed, assigned to nobody

[2021-11-01 07:48] eladhen commented on #342
This isn't an unsolvable state (yet! I don't know what comes next).

Green are blocks that can be opened. Red are mines
![image17](https://user-images.githubusercontent.com/12398651/139638727-d6809665-8e4a-431d-83fb-9cac4b408d4a.png)
.

[2021-11-01 10:14] soundsbeard commented on #342
you are right, i wasn't thinking.

[2021-11-11 17:41] melinate opened #347 "Performance drop when selecting solved numbers"
**Describe the bug**
Version 15.0.2 was fairly responsive when you selected a solved number to either expose cells with no bombs or mark the remaining cells as bombs. Since upgrading to 15.1.0 it can take >1 second to display the expected change.

**To Reproduce**
Select a 1 that is next to only one unsolved cell.

**What control style do you use?**
Single Tap Flag, Double Tap Open

**Expected beh

[2021-11-11 21:08] lucasnlm commented on #347
You mean with "Highlight unsolved numbers" option enabled?
There's no significant change between 15.0.2 and 15.1.0, but the Highlight unsolved numbers" option. I will double check.

[2021-11-11 21:08] lucasnlm commented on #342
@soundsbeard May I close this thread?

[2021-11-11 21:09] #342 closed

[2021-11-12 02:02] theblackmallard commented on #347
I was coming here to post this same bug.
App Version 15.1.0
Android 10
installed from F-droid.

I don't have "Highlight unsolved numbers" option enabled and still have this delay. Basically when you click a revealed number it should either reveal bordering numbers or flag the remaining cells as bombs. This process has ~1 second delay from tapping the number to the flag being placed or other cells

[2021-11-12 02:20] melinate commented on #347
I did not enable the new feature "highlight unsolved numbers" either. Just upgraded when 15.1.0 was released on F-Droid.

Thanks for looking into it.

[2021-11-12 20:48] lucasnlm commented on #347
I will investigate what's happening. I seems to be happening only with the "Single Tap Flag, Double Tap Open" control style.

[2021-11-16 17:49] lucasnlm commented on #347
I think I found the bug. I will release a new version with its fix asap.

[2021-11-29 03:35] melinate commented on #347
Thanks for getting this fixed. I just tested the updated version and it
appears to be working as expected.

I have been using "tap open, long tap flag" while waiting for the new
release. While testing the latest version with "tap open, double tap tab
flag" it still feels a bit slower compared to "tap open, long tap flag"
for populating flags when single tapping a solved number, but it is so much
b

[2021-12-07 17:38] yw662 commented on #325
It looks like there are still squares uncovered.

[2021-12-07 17:44] yw662 opened #351 "The guess-free algorithm can dramatically decrease game difficulty when mine rate is high"
**Describe the bug**
Just look at this :-)
![Screenshot_20211207-093623](https://user-images.githubusercontent.com/34736747/145079226-88bc458a-eaaa-47f4-817b-7174c6bf2714.png)

**To Reproduce**
That is any 9x18-72 game would be. 15x24-72 games are slightly affected.

**App Version**
15.1.1

[2021-12-07 23:37] lucasnlm commented on #351
How did you get this state? Using standard or custom?

[2021-12-07 23:57] yw662 commented on #351
@lucasnlm Through fixed size or progressive.

[2022-01-01 18:52] istudyatuni commented on #292
Hello @lucasnlm ! I have this bug on version 15.3.0

<details>

https://user-images.githubusercontent.com/43654815/147857975-a6505a27-c25c-47c3-8521-68ac9dbee9e8.mp4

</details>

[2022-01-01 20:36] Skirmisher commented on #292
Hmm, I can indeed reproduce this on app version 15.3.0 (Android 9). In addition, resuming the game makes the timer tick up twice as fast! It appears as though there are two competing timer intervals set for incrementing the game timer.

[2022-01-01 20:38] bircher opened #354 "toggle button resets for new game"
**Describe the bug**
When the flag is seleced in the switcher between opening and flagging it behaves as expected on the first game (which starts with opening, so you have to switch to flagging).
However when starting a new game (after winning for example) the switcher still shows the flag but it behaves like opening even after the initial uncovering. So if you for example click on a tip to flag i

[2022-01-04 21:39] melinate opened #355 "Timer restarts too soon"
When continuing a game that was previously started. The timer starts before the game board is rendered.

This is most noticable on Legendary game boards where the render time is longer. And impacts those games the most since the user is more likely to pause the game and continue later multiple times.

[2022-01-04 21:52] melinate opened #356 "Number of remaining bombs is inaccurate"
**Describe the bug**
I played a Legendary game today and it said there were 3 bombs remaining when there were only 3 unidentified squares and only one of the three could have been a bomb.

**To Reproduce**
Unknown. I did pause and continue the game multiple times. Also, I'm not sure if it is related, but the game appeared to automatically mark at least one bomb that I don't think I could have know

[2022-01-07 21:52] lucasnlm commented on #355
It really happens. Since it takes a lot to load sometimes this is a problem. I will check if I can improve it.

[2022-01-07 23:20] lucasnlm commented on #354
Thanks for report this bug. It will be fixed on `15.4.0`

[2022-01-07 23:20] lucasnlm commented on #355
Thanks for report this bug. It will be fixed on 15.4.0 (I hope).

[2022-01-13 23:41] istudyatuni commented on #292
It works now, thank you!

[2022-01-20 13:38] zellchristensen opened #359 "Flag Toggle Switch is turned off on Screen Rotation or Menu"
**Describe the bug**
The flag toggle switch is turned off whenever the screen auto rotates or if you click back to visit the menu and then continue.

**To Reproduce**
Under controls, choose the option for "Use button to switch between Flag and Open"  and "Show Toggle Button on top bar"
Start a new game.
Set toggle button to Flag mode
Rotate device to cause auto rotate OR click the top left arrow t

[2022-01-20 13:48] zellchristensen opened #360 "Allow for greater number of Hints."
**Is your feature request related to a problem? Please describe.**
The hint limit of 25 seems too low.

**Describe the solution you'd like**
Increase the amount of hints, maybe up to 100?

**Describe alternatives you've considered**
Maybe make the cap customizable in the settings or change dynamically based on the game type.

**Additional context**
When playing a Master game, I can easily score 40

[2022-01-20 21:43] lucasnlm commented on #360
I will think about it. It makes sense to support more than 25 hints in some cases 🤔 .

[2022-01-29 17:34] lucasnlm commented on #359
It should be fixed on 1.6.0

[2022-01-29 17:34] lucasnlm commented on #360
As a quick-fix I will increase the hint limit to 100.

[2022-02-17 15:48] valzu1 opened #362 "game failed on continue"
**Describe the bug**
(At least legend) games failing when continuing.

**To Reproduce**
Start legend difficulty game, play it for little bit at least, then close the app from game, not quitting via menu or anything.
Later when going back to the app and selecting "continue" the timer doesn't continue running anymore, and by browsing the field it's possible to find a mine that is red.
For some reaso

[2022-02-19 18:07] lucasnlm commented on #362
Hi!
Thanks for report this issue.
I reproduced it with any difficulty level by doing this:

Start a game, tap on a mine, tap on continue, return to menu, return to game.

There's something wrong with continue indeed. :(
I will take a look on this and update asap.

[2022-02-28 20:28] juanmbt opened #364 "Progressive mode does not increase number of mines"
**Describe the bug**
When playing in Progressive mode the number of mines stops increasing after 76.

**To Reproduce**
1. Start a game in progressive mode and successfully complete a few games.
2. Start a new game and notice that the number of mines increases by 1.
3. Complete a few games until the number of mines is 76. Notice how a new game does not increase the number of mines anymore.

**What

[2022-03-04 13:01] vaibhavantil1 opened #366 "Play Store Data Safety Section"
Hi Team

In the recent Play Store policy, it will become mandatory for you to fill out the Data Safety Section. Since this is an OSS Android app, it will make sense to have it as a part of the repository as well.

I have run the scan using [my tool here](https://github.com/Privado-Inc/privado) on your repo, attached are
the scan results. I found the following 2 data types & 3 SDKs.

If this is hel

[2022-03-08 23:40] lucasnlm commented on #366
Hi!
Do you have an example of how this can became part of the this repository?
It may be helpful.

[2022-03-08 23:52] lucasnlm commented on #364
I hope it will be fixed by `15.7.1`.

[2022-03-08 23:52] lucasnlm commented on #362
Can you check if it still happens with `15.7.0+`?

[2022-03-08 23:52] lucasnlm commented on #362
Can you check if it still happens with `15.7.0+`?

[2022-03-08 23:55] valzu1 commented on #362
Sorry but I’ve changed to iOS, I might check it one day but I’ve kind of put my Android phone out of use.

[2022-03-09 03:20] vaibhavantil1 commented on #366
@lucasnlm - Best format is the CSV that users can import in Play Console directly. I have attached the sample CSV by Google, we generate ready to import CSV for you from our tool as well

[psl_csv_export_example - psl_csv_export_example (2).csv](https://github.com/lucasnlm/antimine-android/files/8211390/psl_csv_export_example.-.psl_csv_export_example.2.csv)
.

[2022-03-12 09:10] BinToss commented on #224
Perhaps a smaller checkerboard pattern would better indicate the level's bounds.

[2022-03-17 11:30] JapanYoshi opened #368 "Open solved numbers by tapping on them when control scheme isn’t set to toggle"
**Is your feature request related to a problem? Please describe.**
I turned the control scheme to “tap to open, hold to flag” because that’s what I was used to in *Minesweeper: The Clean One.* And tapping on a 1 with one flag next to it, for example, did nothing. When the control scheme was “use button to switch between”, not only did the app open solved numbers, it even auto-flagged solved number

[2022-03-17 11:33] JapanYoshi opened #369 "Zoom levels that aren’t overflowing or tiny"
**Is your feature request related to a problem? Please describe.**
I tried to pinch in and out to zoom, but the app seems to snap to full screen (without automatic horizontal snapping) and tiny. This feels frustrating and unplayable, especially at the default of 8 tiles wide, where the spaces are massive at full size (and the game won’t automatically scroll the board to fit the screen, so part of

[2022-03-18 19:08] lucasnlm commented on #369
@JapanYoshi Can you provide an image or video of this problem? It will be helpful.
And yes, zoom in and zoom out is a little buggy.

[2022-03-18 19:12] lucasnlm commented on #368
I will test your suggestion, and if possible it will be on the next update.
Currently, “tap to open, hold to flag” does what you want by long pressing the numbers.

[2022-03-30 11:08] istudyatuni opened #370 "Do not fully hide numbers when "highlight unsolved numbers" is enabled"
**Is your feature request related to a problem? Please describe.**

My suggestion - do not hide numbers whose cells are not completely solved, because I use "allow tap on numbers", and when around a cell with a number all mines are found, the number is hidden regardless of the presence of unopened cells around

**Describe the solution you'd like**

Hide numbers only when all cells around are eithe

[2022-03-30 11:13] istudyatuni commented on #370
But I'm not sure, I think it wouldn't be good to paint it in the same color as an unsolved cell.

[2022-03-31 01:52] lucasnlm commented on #370
Currently it's doesn't hide the numbers, it actually make them translucent.
On your phone the numbers are not visible? If so, I can increase the transparency or dim them some other way (like you said).

[2022-03-31 06:06] istudyatuni commented on #370
No, sorry, by "hidden" I mean that they are low-contrast, almost invisible

<details>

![image](https://user-images.githubusercontent.com/43654815/160987287-e235b7c8-6696-4543-b0a3-52eaff60e1e8.png)

</details>

[2022-04-07 18:31] hornetfighter515 opened #371 "Hold-to-flag"
I dislike having to click the flag-switch button, it is very slow and it hurts my thumb to hit the corner every time. I would like to be able to hold down a spot to flag it.

[2022-04-10 16:27] lucasnlm commented on #371
You mean do this while using `flag-switch` mode?

[2022-04-10 16:28] #364 closed

[2022-04-11 08:09] istudyatuni commented on #370
That would be great!

[2022-04-12 10:22] delvydo opened #373 "Option for turning off auto-flagging when tapping on number"
Hi, I think an option to choose whether tapping on number would auto-flag the remaining uncleared boxes would be a good addition.

When this auto-flag option is turned off, tapping the number should only open the surrounding boxes when the right number of flags already placed manually by the player.

Example:
![ss](https://user-images.githubusercontent.com/30949472/162938402-82ec66b9-12ef-4885-8c3

[2022-04-13 21:49] delvydo opened #374 "Continuing the game after game over"
**Description**
Able to continue a game after a game over by closing and removing the app from the "Recent apps" list.

**To Reproduce**
1. Open a bomb prompting a game over. Don't tap on "New Game" or the close button.
2. Open the "Recent apps" list and remove the Anti-mine app from the list.
3. Open the Anti-mine app back up and press continue.
4. Now you can continue the game as is the game ove

[2022-04-22 10:20] delvydo commented on #374
Oh, I didn't know you can continue the game after game over by pressing "Continue" in the game over screen.

Apologies, seems like this is intentional behavior then.

[2022-04-22 10:20] #374 closed

[2022-06-08 22:38] westnordost opened #375 "Flag/Reveal button state is not restored correctly"
The state of the Flag/Reveal button is not restored correctly when continuing a game.

**To Reproduce**
1. Tap the Flag/Reveal button to switch to "Flag" mode.
2. go back to the main screen
3. continue the game

The "Flag" mode is **shown** to be active, but when tapping on the game board, it turns out that the button was actually in reveal-mode.

**Screenshots**
https://user-images.githubusercont

[2022-06-08 22:40] westnordost commented on #362
I cannot reproduce this with 15.7.1

[2022-08-12 00:14] lucasnlm commented on #375
Thanks for report this bug. It will be fixed on the next update via #376 (6014f66136e35fe6068d1e071b6282f41a336f81).

[2022-08-12 00:24] lucasnlm commented on #373
Thanks for your suggestion! :smile:
Your feature request will be implemented on the next update.

[2022-08-12 12:59] #362 closed

[2022-08-12 13:00] #360 closed

[2022-08-12 13:10] #355 closed

[2022-08-12 13:10] #354 closed

[2022-08-12 13:10] #306 closed

[2022-08-12 13:10] #279 closed

[2022-08-12 13:11] #359 closed

[2022-10-21 18:47] xmha97 opened #387 "AppShortcuts"
Please add some AppShortcuts for the new game.

![Screenshot_2022-10-21-22-11-54-717_com.miui.home.jpg](https://user-images.githubusercontent.com/23485114/197267606-dc2e519d-12d9-4780-9c71-bb4f6d56846c.jpg)

![Screenshot_2022-10-21-22-15-13-655_dev.lucanlm.antimine.jpg](https://user-images.githubusercontent.com/23485114/197268083-cc618f6b-aeec-4c8b-8d4c-d0b5e8910eac.jpg)

[2022-10-26 05:07] snooppr opened #388 "add classic color theme"
I tried all the themes, but not one of them does not have a normal display of squares.  This is a perversion for the eyes to peer.  Add a theme that shows squares without straining the eyes (classic).
![nines](https://user-images.githubusercontent.com/61022210/197939821-091057c8-5296-43f7-bd75-2e6f6f776e40.jpg)

[2022-10-26 07:00] xmha97 opened #389 "Improve Algorithm"
Minesweeper is my favorite game and I have been playing it for years.

In this game no one will win or lose with the first choice.

But in the game you made, it happens.

https://user-images.githubusercontent.com/23485114/197956528-1474e9e7-d39e-4310-bb47-e238f88de901.mp4

Please improve the game algorithm.

Thanks.

[2022-10-26 07:36] xmha97 opened #390 "Add more sounds"
Here is Windows 7 Minesweeper sounds.
Please add them to this project.
[Windows 7 - Minesweeper.zip](https://github.com/lucasnlm/antimine-android/files/9867203/Windows.7.-.Minesweeper.zip)
Thanks.

[2022-10-26 08:21] xmha97 opened #391 "Add "reveal squares" feature."
Please add "reveal squares" feature: (like Windows 7 Minesweeper)

https://user-images.githubusercontent.com/23485114/197973440-8aa3f18a-7141-4f86-80c1-9c731aabce4a.mp4

[2022-10-26 18:53] lucasnlm commented on #389
Hi!
Thanks for your feedback.

Is it a custom game?

[2022-10-26 18:54] lucasnlm commented on #387
Hi!
It was implemented once but had really low usage.
I can implement it again. :)

[2022-10-26 19:08] xmha97 commented on #389
Yes, but this happened in the 9x9-10 game.

[2022-10-27 12:59] lucasnlm commented on #390
I'm no sure if I can use these sounds. :(
They are not free and probably protected by Microsoft Minesweeper license.
But I agree with you that the game deserves more sounds.

[2022-10-27 13:02] lucasnlm commented on #389
This may happen on custom games with a very small amount of mines. With 9x9 the algorithm use to create "easy" minefield because this is what is expected. The minefield above that uses a different and more complex algorithm.

[2022-11-07 15:48] pcrazee opened #393 "Master is mathematically easier that Expert"
**Describe the bug**
By calculating the "fields per mine" (number of fields divided by number of mines) for each difficulty, we can see that there are fewer mines per field in the master difficulty compared the the expert difficulty. In this regard I want to add, that even in legend mode, the presets in this game are easier than most other mines games.

**To Reproduce**
Calculate the fields/mine r

[2022-11-11 21:48] lucasnlm commented on #388
Hi!
I'm working on it. :)

![image](https://user-images.githubusercontent.com/1326126/201435526-995a78eb-6cb7-4de4-b3e7-339f58213292.png)